reg {
            background-color: goldenrod;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
        .reg:hover {
            background-color: rgb(255, 236, 67);
            color:black;
        }     
